.home-container {
    text-align: center;
    min-height: calc(100vh - 60px);
    overflow: auto;
    position: relative;
    padding-top: 60px;
}

.home-title {
    font-size: 25px;
    font-weight: 400;
    color: rgba(0,0,0,0.70);
    margin-top: 50px; 
}

.home-container {
    overflow-y: auto;
    max-height: 100vh; /* Adjust as needed */
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #6c757d;
    margin-top: 10px;
}

.location {
    text-align: left;
}

.date {
    text-align: right;
}