.home-container {
    min-height: calc(100vh - 60px);
}

.home-title {
    font-size: 25px;
    font-weight: 400;
    color: rgba(0,0,0,0.70);
    margin-top: 50px; 
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #6c757d;
    margin-top: 10px;
}

.location {
    text-align: left;
}

.date {
    text-align: right;
}

.dropdown-container {
    position: relative;
    width: 100%;
    display: inline-block;
    justify-content: left;
    /* margin-bottom: 20px; */
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-toggle {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    text-align: left;
    white-space: nowrap;
}

.arrow {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.arrow.down {
    transform: rotate(90deg);
}

.arrow.up {
    transform: rotate(-90deg);
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1001;
    /* max-height: 300px; */
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    /* height: ; */
}

.dropdown.open .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
}

.category {
    font-weight: bold;
    margin-right: 10px;
    display: block;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #ced4da;
}

.subcategory {
    margin-right: 10px;
    color: #6c757d;
    padding: 5px 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #e9ecef;
}

.category:hover,
.subcategory:hover {
    background-color: #bbbbbb;
    border-radius: 4px;
}

.selected-categories {
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.selected-category, .selected-subcategory {
    cursor: pointer;
    margin-left: 5px;
    color: #007bff;
}

.selected-category:hover, .selected-subcategory:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ced4da;
    z-index: 1000;
    position: relative;
}

.additional-links {
    padding-top: 10px;
    display: flex;
    margin-left: 10px;
}

.additional-links a {
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}

.image-links {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: auto;
    border-style: ridge;
    border-radius: 10px;
    border-color: black;
}

.text-links {
    text-align: center;
    color: black;
}

.image-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px; /* Add some space between images */
}

.image-links:hover {
    border-color: #0050c9; /* Adjust the color as needed */
    border-width: 5px;
}